

*{

  font-family: Helvetica;
}

.white{
  color:white;
}

.center{
  text-align: center;
}
.backgroundPicture{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

.h1{
  font-size: 70px;
}

.list{
      list-style-type: none;
      line-height: 30px;
}

a{
   color:inherit;
 }
 .h2{
   font-size: 32px;
   font-weight: bold;
 }
.h3{
  font-size: 23px;
}

p{
  font-size: 14px;
}
.processItem{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dimGray{
  background-color: dimgray;
}
.small{
  font-size: 11px;
}
